simple.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
   xmlns="urn:simple:example" 
   xmlns:xs="http://www.w3.org/2001/XMLSchema" 
   targetNamespace="urn:simple:example"
   elementFormDefault="qualified" 
   attributeFormDefault="unqualified">

	<xs:element name="simple" type="SimpleType"/>

	<xs:complexType name="SimpleType">
      <xs:sequence minOccurs="1" maxOccurs="unbounded">
         <xs:element name="simplekid" type="xs:string"/>
      </xs:sequence>
	</xs:complexType>

</xs:schema>
